html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1;
  background-color: #0a4454;
}

/* Globales */
h1, h2, h3, p {
  text-align: center;
  margin: 0 0 10rem 0;
}


h1 {
  font-size: 2rem;
  font-family:'Ubuntu', 'Cantarell', 'Fira Sans';
  color: white;
  padding-top: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p{
  padding-top: 0.5rem;
  font-size: 2rem;
  color: yellow;
}

